body{
	background-color: black; color: white; padding-left: 1px; margin-left: 1px; margin-top: 1px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

li a {
    display: block;
}
.active {
    background-color: #4CAF50;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}