body{
	background-color: white; color: black; padding-left: 1px; margin-left: 1px; margin-top: 1px;
}



li a {
    display: block;
    width: 60px;
}



.active {
    background-color: #4CAF50;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}